@media (min-width: 769px) and (max-width: 991px) {
  #nav-menu-container {
    float: unset;
  }
}

@media (max-width: 768px) {
  #header {
    padding: 0;
    height: auto;
  }

  #header #logo h1 {
    font-size: 34px;
  }

  #header #logo img {
    max-height: 40px;
  }

  #header #logo.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 20px 20px;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }

  .back-to-top {
    bottom: 15px;
  }

  /* Mobile Nav Toggle */
  #mobile-nav-toggle {
    display: inline;
  }

  .mobile-nav {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: transparent;
    text-transform: none;
    outline: none;
    cursor: pointer;
  }

  .mobile-nav .mobile-nav-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
  }

  .mobile-nav .mobile-nav-box .mobile-nav-inner {
    position: absolute;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    background-color: #2c7df7;
    transition: all .15s ease-in-out;
  }

  .mobile-nav .mobile-nav-box .mobile-nav-inner:before {
    content: '';
    top: -7px;
    position: absolute;
    width: 25px;
    right: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #2c7df7;
    transition: all .15s ease-in-out;
  }

  .mobile-nav .mobile-nav-box .mobile-nav-inner:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    background-color: #2c7df7;
    transition: all .15s ease-in-out;
    bottom: -7px;
    right: 0;
  }


  /* Mobile Nav Styling */
  #nav-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 998;
    background: rgba(52, 59, 64, 0.9);
    right: -100%;
    width: 100%;
    overflow-y: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    height: 100%;
    background-color: #1a2734;
    transform: translateX(100vw);
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
  }

  #nav-menu-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: auto;
    margin: auto;
  }

  #nav-menu-container ul li {
    position: relative;
    float: initial;
  }

  #nav-menu-container ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }

  #nav-menu-container ul li a:hover {
    color: #fff;
  }

  #nav-menu-container ul li li {
    padding-left: 30px;
  }

  #nav-menu-container ul .menu-has-children i {
    position: absolute;
    right: -45px;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }

  #nav-menu-container ul .menu-has-children i.fa-chevron-up {
    color: #50d8af;
  }

  #nav-menu-container ul .menu-item-active {
    color: #50d8af;
  }

  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(52, 59, 64, 0.9);
    display: none;
  }

  body.mobile-nav-active #nav-menu-container {
    right: 0;
    transform: translateX(0);
  }

  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .sections.style2 .section-info  .section-middle {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0px 15px;
  }

  #footer .social {
    margin-left: -10px;
  }
}

/* Testimonials Section
--------------------------------*/
@media (max-width: 768px) {
  .cd-timeline__content ul li {
    font-size: 14px;
    padding-bottom: 0;
  }

  .cd-timeline__content .cd-timeline__date {
    padding: 5px 0;
    font-style: italic;
    font-weight: bold;
  }

  .breadcrumb .breadcrumb-title {
    text-align: center;
  }

  .breadcrumb .breadcrumb-content {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .sections .form .contactForm input {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #footer .social {
    margin-left: 20px;
  }
}



@media (max-width: 991px) {
  .sections .img-content {
    margin-bottom: 30px;
  }
}