/*
  Theme Name: Reveal
  Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
  */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #50d8af;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #51d8af;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* BACKGROUND*/
.bg-grey {
  background-color: #e9f0f5;
}
/* BACKGROUND*/
.sections {
  padding: 30px 0;
}

.sections ul {
  list-style: none;
  padding: 0;
}

.sections ul li {
  padding-bottom: 10px;
}

.sections i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

.sections .img-content {
  overflow: hidden;
}

.sections .img-content img {
  margin-left: -15px;
  max-width: 100%;
}

.sections .box {
  margin-bottom: 40px;
    background: #fff;
    transition: 0.4s;
}

.sections h2 {
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    color: #0c2e8a;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
}

.sections h2:before {
  content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #50d8af;
    bottom: 0;
    left: 0;
}

.sections h3 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

.sections .box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

.sections .box h4 a {
  color: #444;
}

.sections .box .icon {
  float: left;
}

.sections .box .description {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 24px;
}

/*Style1*/
.sections.style1 .box h4,
.sections.style1 .box .description {
  margin-left: 100px;
}

/*Style2*/


.sections.style2 .section-info {
  text-align: center;
}

.sections.style2 .section-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #999;
}

.sections.style2 .section-info img {
  margin-bottom: 15px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #50d8af;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

.back-to-top:focus {
  background: #50d8af;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #0c2e8a;
  color: #fff;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #555;
}

#topbar .contact-info a:hover {
  color: #50d8af;
}

#topbar .contact-info i {
  color: #50d8af;
  padding: 4px;
}

#topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color: #50d8af;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 20px 0;
  height: 84px;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 999;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #50d8af;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url("../img/intro-carousel/1.jpg") no-repeat;
  background-size: cover;
}

#intro .intro-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#intro .intro-content h2 {
  color: #0c2e8a;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}

#intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline;
}

#intro .intro-content .btn-get-started, #intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#intro .intro-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#intro .intro-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#intro .intro-content .btn-projects {
  background: #50d8af;
  border: 2px solid #50d8af;
}

#intro .intro-content .btn-projects:hover {
  background: none;
  color: #50d8af;
}

#intro #intro-carousel {
  z-index: 8;
}

#intro #intro-carousel::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#intro #intro-carousel .item {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #50d8af;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #50d8af;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
}


/* Mobile Nav body classes */
body.mobile-nav-active {
  /*overflow: hidden;*/
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: #0c2e8a;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #50d8af;
  bottom: 0;
  left: 0;
}

.section-header p {
  padding: 0;
  margin: 0;
}

/* Our Portfolio Section
--------------------------------*/
.sections .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.sections .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.sections .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

.sections .portfolio-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 100%;
}

.sections .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sections .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.sections .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Testimonials Section
--------------------------------*/
.sections .team-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.sections .team-item .team-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.sections .team-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.sections .team-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
  padding-bottom: 15px;
}

.sections .team-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

.sections .team-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

.sections .team-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.sections .owl-nav, .sections .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.sections .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.sections .owl-dot.active {
  background-color: #50d8af;
}

/* Contact Section
--------------------------------*/
.sections .form #sendmessage {
  color: #50d8af;
  border: 1px solid #50d8af;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sections .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sections .form #sendmessage.show, .sections .form #errormessage.show, .sections .form .show {
  display: block;
}

.sections .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

.sections .form input,
.sections .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

.sections .form .contactForm button[type="submit"] {
  cursor: pointer;
  display: inline-block;
  min-width: 192px;
  color: #8999b1;
  font-size: 15px;
  line-height: 1em;
  text-align: center;
  background-color: transparent;
  border: 2px solid #8999b1;
  border-radius: 25px;
  padding: 12px 20px 10px;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.sections .form button[type="submit"]:hover {
  opacity: .5;
}

.sections .form .contactForm input {
  display: inline-block;
  width: calc(100% - 270px);
}

.sections .form label {
  width: 215px;
  margin-right: 40px;
}

.sections .form label .title {
  display: inline-block;
}

.sections .form label img {
  margin-right: 20px;
}

.sections .form .validation {
  float: right;
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f2f5f8;
  padding: 40px 0;
  font-size: 14px;
}

#footer .title,
#footer .social {
  display: inline-block;
  vertical-align: middle;
}

#footer .social {
  font-size: 24px;
}

#footer .social a {
  padding: 0 10px;
}

#footer .copyright {
  padding-top: 7px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #555;
}

#footer .credits a {
  color: #0c2e8a;
}

/* CUSTOM INPUT */
.input-custom {
    padding: 0 0 9px;
    background: none;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    color: #000;
    font-size: 16px;
    -webkit-appearance: none;
}

.button-custom {
  cursor: pointer;
  display: inline-block;
  min-width: 192px;
  color: #8999b1;
  font-size: 15px;
  line-height: 1em;
  text-align: center;
  background-color: transparent;
  border: 2px solid #8999b1;
  border-radius: 25px;
  padding: 12px 20px 10px;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.button-custom:hover {
  opacity: .5;
  color: #8999b1;
}
/* CUSTOM INPUT */


/* CUSTOM CAROUSEL*/
.owl-carousel .owl-item img {
  max-width: 100%;
  margin: auto;
  width: auto;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background-color: #ddd;
}
/* CUSTOM CAROUSEL*/


/* Mobile Nav body classes */
body.mobile-nav-active .mobile-nav .mobile-nav-inner {
  background-color: transparent;
}

body.mobile-nav-active .mobile-nav .mobile-nav-inner:before {
  top: 0;
  transform: rotate(-45deg);
}

body.mobile-nav-active .mobile-nav .mobile-nav-inner:after {
  bottom: 0;
  transform: rotate(45deg);
}

/* GET START PAGE */
.ul-custom li img {
  max-width: 100%;
}

.breadcrumb .breadcrumb-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #000;
}

.breadcrumb .breadcrumb-content {
  text-align: right;
}

.breadcrumb ul {
  margin: 0;
}

.breadcrumb ul li {
  display: inline-block;
  padding: 0;
}

.breadcrumb ul li:not(:last-child):after {
  content: '/';
  margin-left: 5px;
}
/* GET START PAGE */

/* CHOOSE LANGUAGE */
.language ul li a:hover {
  padding-left: 5px;
  -webkit-transition: padding-left 500ms;
    -moz-transition: padding-left 500ms;
    -ms-transition: padding-left 500ms;
    transition: padding-left 500ms;
}

.no-intro {
  padding-top: 110px;
}
/* CHOOSE LANGUAGE */

/* CAREER */
.career .section-info  .career-item {
  margin: auto;
}
.career .section-info {
  border: 1px solid #ddd;
  padding: 30px;
  margin: 0px;
}
/* CAREER */